In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark import Row
from pyspark.ml.feature import Imputer

In [ ]:
spark = SparkSession.builder.appName("TEST").getOrCreate()

In [ ]:
df=spark.read.csv("test2.csv",inferSchema=True,header=True)

In [ ]:
df.show()
df.collect()
df.take(5)
df.na.drop().show()
df.na.drop()

In [ ]:
df.na.drop(how='any',thresh=2,subset=["Name","Experience"]).show()

In [ ]:
df.na.fill("Empty",["Name","Experience"]).show()

In [ ]:
#IMPUTER function, replacing null/other values
modified_col=[f"{c}_corrected" for c in df.columns[1:4]]
imputer=Imputer(strategy= 'mean',inputCols=df.columns[1:4],outputCols=modified_col)
imputer.fit(df).transform(df).show()

#Changing the original df
imputer=Imputer(strategy= 'mean',inputCols=df.columns[1:4],outputCols=df.columns[1:4])
df=imputer.fit(df).transform(df)
df.show()

In [ ]:
#filtering #select that we did earlier(withColumn) has different sytax to this select, here we give list
df.filter((df.age < 30) & (df.Salary < 20000)).select(['Name','age']).show()  
df.where((df.age < 30) & (df.Salary < 20000)).select(['Name','age']).show()

#you can use ~ to negate entire condition